@import url('https://fonts.googleapis.com/css?family=Oswald');

.container wrapper1{
    max-width: 1280px;
    
}



.background-homepage{
    height: 100vw;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    background-image: url('../assets/images/img_3275_800.jpg');
}

.background-women{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    background-image: url('/assets/images/achtergrond baksteen.jpeg');
}

.background-about{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    background-image: url('/assets/images/achtergrond-hout.jpeg');
}


h1
h2
h3
h4{
    margin:0;
}

.uppercase {
    text-transform: uppercase;
}



/* ---------top bar---------*/

#sp-top-bar{
    height: 30px;
    width: 100vw;
    background: #000;
    color: #fff;
    padding: 4px;
    font-size: 0.6rem;
    top:0;
    position:relative ;
}



/* --------------------header*/

header {
    height: auto;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0;
    position: relative;
    
}

.navbar-brand {
    width: 161px;
    background-image: url("../assets/images/logo_dok7woensel_161x90.jpg");
    background-size: cover;
    background-position: top left;
    margin-left: 0;
    background-repeat: no-repeat;
    min-height: 90px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}  


.nav-link {
    text-transform: uppercase;
    color: #fff;
}

    
.navbar-nav .nav-link {
    color: #fff;
}

.nav-item.active{
    background-color: yellow;
}

/*----- index-page------*/

.home-text-container {
    display: block;
    margin-left:auto;
    margin-right: auto;
    position: relative;

}


.main-content {
    background: transparant;
    
}

.main-content-page1 {
    font-family: 'Oswald', sans-serif; 
    max-width:30rem;
    padding-top: 10rem;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #00000f;
}

.additional-content1{
    background: #12cdde;
    margin: 2rem;
    padding: 1rem; 
    text-align: left;
    font-size: 12px;
    font-weight: 100;
    color: #00000f;
}
.additional-content2{
    background: #0bf09d;
    margin-top: 35rem;
    margin-left: 2rem;
    padding: 1rem; 
    text-align: left;
    font-size: 12px;
    font-weight: 100;
    color: #00000f;
}


/*-----about-----*/

.image-team {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../assets/images/team_img_0902_480x640.jpg');
    width: 18rem;
    height: 24rem;
    padding:8rem;
}

.left {
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.right {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  
}




/*----women----*/



.logo-brands{
    
    background-color: black;
    background-size: cover;
    display: inline-block ;
    padding: 5px;
    margin: 5px;
}    
    
.position-brands{
    text-align: center;
    padding:5px;
}


.image-store {
    max-width: 400px;
    margin: 0;
}
   

/*-----contact-----*/

.address {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

.contact-heading {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.form-control{
    background-color: #f8f9fa;
    margin-bottom: 15px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: blue;
}

/*----footer----*/

#main-footer {
    display: inline-block;
    background: #f2f2f2;
    min-height: 2rem;
    width: 100vw;
    position: relative;
    bottom: 0px;
}

.social-media {
    font-family: 'Oswald', sans-serif; 
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #00000f;
}

.social-links {
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 15px;
    border-radius: 10%;
    font-size: 25px;
    line-height: 10px;
    text-align: center;
    color: #99999f;
    background: blue;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}
.logo-woensel{
    min-width: 180px;
    background-image: url("../assets/images/logo-nw.jpg");
    background-size: contain;
    background-position: center;
    margin-top: 1em;
    background-repeat: no-repeat;
    height: 100px;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}